/* Landing style */
@font-face {
 font-family: 'myriad-regular';
 src: url('http://canariasenhora.com/fonts/MyriadWebPro.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'myriad-bold';
 src: url('http://canariasenhora.com/fonts/MyriadWebPro-Bold.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'myriad-italic';
 src: url('http://canariasenhora.com/fonts/MyriadWebPro-Italic.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  min-height: 100%;
  position: relative;
}

#main {
  padding-bottom:333px;
}

.transition {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.gradient{
  height: 22px;
  background: #f4ad00; /* Old browsers */
  background: -moz-linear-gradient(left,  #f4ad00 0%, #ff6e00 13%, #56b8b5 26%, #6fb3cb 39%, #cb4d00 51%, #9c102d 64%, #fbcba3 77%, #c8e1e8 90%, #0085c4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f4ad00), color-stop(13%,#ff6e00), color-stop(26%,#56b8b5), color-stop(39%,#6fb3cb), color-stop(51%,#cb4d00), color-stop(64%,#9c102d), color-stop(77%,#fbcba3), color-stop(90%,#c8e1e8), color-stop(100%,#0085c4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #f4ad00 0%,#ff6e00 13%,#56b8b5 26%,#6fb3cb 39%,#cb4d00 51%,#9c102d 64%,#fbcba3 77%,#c8e1e8 90%,#0085c4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #f4ad00 0%,#ff6e00 13%,#56b8b5 26%,#6fb3cb 39%,#cb4d00 51%,#9c102d 64%,#fbcba3 77%,#c8e1e8 90%,#0085c4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #f4ad00 0%,#ff6e00 13%,#56b8b5 26%,#6fb3cb 39%,#cb4d00 51%,#9c102d 64%,#fbcba3 77%,#c8e1e8 90%,#0085c4 100%); /* IE10+ */
  background: linear-gradient(to right,  #f4ad00 0%,#ff6e00 13%,#56b8b5 26%,#6fb3cb 39%,#cb4d00 51%,#9c102d 64%,#fbcba3 77%,#c8e1e8 90%,#0085c4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4ad00', endColorstr='#0085c4',GradientType=1 ); /* IE6-9 */
}

.gradient.top{  top: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.gradient.bottom{
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.social-icons {
  margin-top: 30px;
}

.social-icons .icons {
  max-width: 90px;
  min-width: 50px;
  width: 10%;
  margin: 0 10px;
}

.social-icons .icons:hover {
  opacity: .7;
}

.bottom-text {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}


#footer {
   position:absolute;
   bottom:0;
   width:100%;
}

.copyright {
  margin-top: 8px;
}

.developed {
  height: 30px;
  width: auto;
}

.developed:hover {
  opacity: .8;
}

.chat-column {
  width: 20vw;
  margin: 0 2vw;
  height: 30vw;
}

.stream-window {
  width: 54vw;
  height: 35vw;
  position: relative;
}

.social-column iframe {
  width: 100% !important;
  height: 100% !important;
}

.social-column {
  float: left;
  margin-left: 2vw;
  width: 17vw;
  -webkit-overflow-scrolling: touch !important;
  overflow-y: scroll !important;
}

.chat-column,
.stream-window {
  float: right;
}

.social-column #twitter-widget-0 .timeline .stream,
.social-column iframe {
  max-height: 30vw !important;
  height: 30vw !important;
}

.chat-column iframe {
  border: 1px solid #d9d9d9;
  width: 99%;
}

.column-button {
  height: 1.75vw;
  width: 100%;
  background: url('../img/background.png') no-repeat;
  background-size: 100% 1024px;
  background-color: #FFF;
  color: #FFF;
  font-size: 1vw;
  padding-top: 0.15vw;
}

.column-icon {
  float: left;
  margin-left: 0.8vw;
  margin-top: 0.2vw;
  margin-right: -20px;
}

.column-display {
  float: right;
  margin-right: 1vw;
  margin-top: 0.2vw;
}

.stream-phrase {
  font-size: 30px;
}

.stream-mark {
  position: absolute;
  z-index: 999;
}

.background-top-bar,
.background-bottom-bar {
  width: 100%;
  height: 1.75vw;
  z-index: 9999;
  background: url('../img/background.png') no-repeat;
  background-size: 100%;
  background-color: #FFF;
}

.background-bottom-bar {
  bottom: 0;
  background-position: 0 100%;
}

.top-bar {  
  background-color: #C6C6C5;
  height: 3.5vw;
  width: 100%;
  top: 1.75vw;
}

.left-bar {
  background-color: #D9D9D9;
  height: 100%;
  width: 3.5vw;
  left: 0;
  top: 0;
}

.right-bar {
  background-color: #F5F5F5;
  height: 100%;
  width: 3.5vw;
  right: -1px;
  top: 0;
}

.bottom-bar {
  background-color: #ECECEC;
  height: 3.5vw;
  width: 100%;
  bottom: 1.75vw;
}

.stream-window iframe {
  position: absolute;
  top: 5.25vw;
  height: 24.51vw;
  left: 3.5vw;
  width: 47.1vw;
}

.square {
  position: absolute;
  z-index: 9999;
  width: 3.5vw;
  height: 3.5vw;
  background-size: 100% !important;
}

.top-left {
  background: url('../img/top-left.svg') no-repeat;
  top: 1.75vw;
  left: 0;
  width: 3.52vw;
}

.top-right {
  background: url('../img/top-right.svg') no-repeat;
  top: 1.75vw;
  right: 0;
}

.bottom-left {
  background: url('../img/bottom-left.svg') no-repeat;
  bottom: 1.75vw;
  left: 0;
}

.bottom-right {
  background: url('../img/bottom-right.svg') no-repeat;
  bottom: 1.75vw;
  right: 0;
}

@media (max-width: 991px) {

  .stream-phrase {
    font-size: 23px;
    margin-bottom: 15px;
  }

  .stream-window {
    width: 65vw;
    height: 45vw;
    margin: 0 0 0 20px;
    float: left;
  }
  .stream-window iframe {
    height: 34.51vw;
    width: 58.1vw;
  }

  #footer {
    position: relative;
  }

  #main {
    min-height: 120vw;
    padding-bottom: 0;
  }

  .chat-column .column-button {
    margin-right: 5px !important;
  }

  .social-column {
    margin: 0 20px 0 0;
    float: right;
    width: 28vw;
    height: 45vw;
  }

  .social-column iframe,
  .twitter-container {
    min-width: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 0 !important;
    max-height: 43vw !important;
  }

  .chat-column {
    width: calc( 100% - 40px );
    width: -moz-calc( 100% - 40px );
    width: -webkit-calc( 100% - 40px );
    width: -o-calc( 100% - 40px );
    height: 45vw;
    margin: 0 20px;
    float: none;
    position: absolute;
    top: 71vw;
  }

  .chat-column iframe {
    max-height: 100% !important;
    height: 100% !important;
    width: 100%;
  }

  .chat-column .column-button {
    margin: 0px !important;
    width: 100% !important;
  }

}

@media (max-width: 767px) {

  .stream-phrase {
    font-size: 20px;
  }

  .bottom-text {
    font-size: 15px;
  }

  #footer {
    position: relative;
  }

  #main {
    min-height: 140vw;
    padding-bottom: 0;
  }

  .chat-column {
    display: none !important;
  }

  .stream-window {
    width: 90vw;
    margin: 0 5vw;
    float: none;
    height: 60vw;
  }

  .stream-window iframe {
    position: absolute;
    top: 5.25vw;
    height: 49.5vw;
    left: 3.5vw;
    width: 83.1vw;
  }

  .social-column {    
    width: 90vw;
    margin: 0 5vw;
    float: none;
    height: 55vw;
    margin-top: 15px;
  }

  .social-column iframe {
    max-height: 55vw !important;
  }

  .column-button {
    display: none !important;
  }

}